body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.teams {
    background-color: #182045;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    padding: 100px;
    border-radius: 30px;
    
}

.home-guest-container{
    display: flex;
    justify-content: space-around;
}


.score-count {
    color: red;
    font-size: 100px;
    margin: 0;
}


button:hover {
    background-color: red;
}





button, #scoreGuest, #scoreHome {
    font-family: 'Seven Segment', sans-serif;
}

.score-home, .score-guest {
    margin: 20px 0;
}




.buttons {
    color: white;
    padding: 10px;
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    width: 60px;
    font-size: 30px;

}


.home-team, .guest-team {
    width: 200px;
}


.buttons-home, .buttons-guest {
    display: flex;
    justify-content: space-around;

}

.reset-container {
    padding-bottom: 20px;
}

#reset-btn {
    width: 95px;
}